<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!-- [if (gt IE 9)|!(IE)]><! -->
<html class="no-js" lang="{{ shop.locale }}">
  <!-- <![endif] -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    {%- capture seo_title -%}
  {%- if request.page_type == 'search' and search.performed == true -%}
  {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
  {%- else -%}
  {{ page_title }}
  {%- endif -%}
  {%- if current_tags -%}
  {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {%- endif -%}
  {%- if current_page != 1 -%}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {%- endif -%}
  {%- assign escaped_page_title = page_title | escape -%}
  {%- unless escaped_page_title contains shop.name -%}
  &ndash; {{ shop.name }}
  {%- endunless -%}
  {%- endcapture -%}

    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% include 'social-meta-tags' %}

    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'font.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    <script src="{{ 'jquery.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer="defer"></script>

    {%- if template contains 'customers' -%}
      {% comment %} {{ 'customer.scss.css' | asset_url | stylesheet_tag }} {% endcomment %}

      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer="defer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" defer="defer"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
      defer="defer"
    ></script>

    {% comment %} <link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css' | asset_url }}"> {% endcomment %}
    <link
      href="https://cdn.jsdelivr.net"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    >

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
      rel="stylesheet"
    >

    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="template-{{ template | split: '.' | first }} body">
    {% sections 'header-group' %}
    {{ content_for_layout }}
    {% section 'footer' %}



    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery-2.2.4.js' |asset_url }}" defer="defer"></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom.js' |asset_url }}" defer="defer"></script>
    <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
