{% comment %} {%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  assign default_presentation = 'text'
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<facet-filters-form class="facets small-hide">
  12132132132
  <form
    id="FacetFiltersForm"
    class="facets__form-vertical"
  >
    {%- if results.terms -%}
      <input type="hidden" name="q" value="{{ results.terms | escape }}">
      <input name="options[prefix]" type="hidden" value="last">
    {%- endif -%}

    {% if enable_filtering %}
      {% comment %} Heading is the first tabbable element on filter type horizontal {% endcomment %}
      <div id="FacetsWrapperDesktop">
        {% comment %} Pills are right below the title for filter type vertical {% endcomment %}
        {%- if filter_type == 'vertical' -%}
          <div class="active-facets active-facets-desktop">
            <div class="active-facets-vertical-filter">
              {%- unless results.filters == empty -%}
                <h2
                  class="facets__heading facets__heading--vertical caption-large text-body"
                  id="verticalTitle"
                  tabindex="-1"
                >
                  filter_by_label
                </h2>
              {%- endunless -%}
              <facet-remove class="active-facets__button-wrapper">
                <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                  <span>clear_all</span>
                </a>
              </facet-remove>
            </div>
            {%- for filter in results.filters -%}
              {%- for value in filter.active_values -%}
                <facet-remove>
                  <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                    <span class="active-facets__button-inner button button--tertiary">
                      {{ filter.label | escape }}: {{ value.label | escape }}
                      <span class="svg-wrapper">
                        {{- 'icon-close-small.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">clear_filter</span>
                    </span>
                  </a>
                </facet-remove>
              {%- endfor -%}
              {% if filter.type == 'price_range' %}
                {% assign min = filter.min_value.value %}
                {% assign max = filter.max_value.value %}
                {%- if min != null or max != null -%}
                  <facet-remove>
                    <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                      <span class="active-facets__button-inner button button--tertiary">
                        {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                        <span class="svg-wrapper">
                          {{- 'icon-close-small.svg' | inline_asset_content -}}
                        </span>
                        <span class="visually-hidden">clear_filter</span>
                      </span>
                    </a>
                  </facet-remove>
                {%- endif -%}
              {% endif %}
            {%- endfor -%}
          </div>
        {%- endif -%}

        {% comment %} Filters for both horizontal and vertical filter {% endcomment %}
        {%- for filter in results.filters -%}
          {% liquid
            assign total_active_values = total_active_values | plus: filter.active_values.size
            assign presentation = filter.presentation | default: default_presentation

            if presentation == 'image'
              assign show_more_number = 12
              assign visual_layout_class = 'facets-layout facets-layout-grid facets-layout-grid--' | append: presentation
            else
              assign show_more_number = 10
              assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation
            endif
          %}

          {% case filter.type %}
            {% when 'boolean', 'list' %}
              <details
                id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                class="facets__disclosure-vertical js-filter"
                data-index="{{ forloop.index }}"
                {% if filter_type == 'vertical' and forloop.index == 1 %}
                  open
                {% endif %}
              >
                <summary
                  class="facets__summary caption-large focus-offset"
                  aria-label="{{ filter.label | escape }} ({{ filter.active_values.size }})"
                >
                  <div>
                    <span class="facets__summary-label">
                      {{- filter.label | escape }}
                      {%- if filter_type == 'vertical' -%}
                        <span class="facets__selected{% if filter.active_values.size == 0 %} hidden{% endif %}">
                          ({{ filter.active_values.size }})</span
                        >
                      {%- endif -%}
                    </span>
                    {%- if filter_type == 'vertical' and filter.operator == 'AND' -%}
                      <span class="facets__and-helptext"> filter_and_operator_subtitle </span>
                    {%- endif -%}
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </div>
                </summary>
                <div
                  id="Facet-{{ forloop.index }}-{{ section.id }}"
                  class="parent-display {% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
                >
                  {%- if filter_type != 'vertical' -%}
                    <div class="facets__header">
                      <div>
                        <span class="facets__selected">
                          {% comment %} {{- 'products.facets.filters_selected' | t: count: filter.active_values.size -}} {% endcomment %}
                          {{ filter.active_values.size }}
                        </span>
                        {%- if filter.operator == 'AND' -%}
                          <span class="facets__and-helptext"> filter_and_operator_subtitle </span>
                        {%- endif -%}
                      </div>
                      <facet-remove>
                        <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link"> reset </a>
                      </facet-remove>
                    </div>
                  {%- endif -%}
                  <fieldset class="facets-wrap parent-wrap facets-wrap-vertical">
                    <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                    {%- liquid
                      assign sorted_values = filter.values
                      # Keep the selected values grouped together when operator is AND
                      if filter.operator == 'AND'
                        assign active_filter_values = filter.values | where: 'active', true
                        assign inactive_filter_values = filter.values | where: 'active', false
                        assign sorted_values = active_filter_values | concat: inactive_filter_values
                      endif
                    -%}
                    <ul
                      class="{{ visual_layout_class }} facets__list--vertical list-unstyled"
                      role="list"
                    >
                      {%- for value in sorted_values -%}
                        {% liquid
                          assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                          assign is_disabled = false
                          if value.count == 0 and value.active == false
                            assign is_disabled = true
                          endif
                        %}
                        {%- capture label_class -%}
                            facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
                            {%- endcapture -%}

                        {% comment %} {%- capture text_value -%}
                              {% comment %} <span class="facet-checkbox__text" aria-hidden="true">
                                <span class="facet-checkbox__text-label">{{- value.label | escape }}</span> ({{- value.count -}})
                              </span> {% endcomment %}
                              {% comment %} <span class="visually-hidden">
                                {{- value.label | escape }} (
                                {%- if value.count == 1 -%}
                                  {{value.count }}
                                {%- else -%}
                                  {{value.count }}
                                {%- endif -%}
                                )
                              </span> {% endcomment %}
                        {%- endcapture -%} {% endcomment %}

                        <li class="list-menu__item facets__item{% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
                          {%- if presentation == 'swatch' -%}
                            <div class="{{ label_class }}">
                              <div class="swatch-input-wrapper">
                                {% render 'swatch-input',
                                  id: input_id,
                                  type: 'checkbox',
                                  name: value.param_name,
                                  value: value.value,
                                  product_form_id: 'FacetFiltersForm',
                                  swatch: value.swatch,
                                  checked: value.active,
                                  disabled: is_disabled
                                %}
                              </div>
                              11111{{ value.swatch -}}
                              <br>
                              {% comment %} {{ text_value }} {% endcomment %}
                            </div>
                          {%- else -%}
                            <label for="{{ input_id }}" class="{{ label_class }}">
                              <input
                                type="checkbox"
                                name="{{ value.param_name }}"
                                value="{{ value.value }}"
                                id="{{ input_id }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                                {% if is_disabled %}
                                  disabled
                                {% endif %}
                              >
                              {{ value.param_name }}
                              {% comment %} {{ text_value }} {% endcomment %}
                            </label>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </fieldset>
                  {%- if filter.values.size > show_more_number and filter_type == 'vertical' -%}
                    <show-more-button>
                      <button
                        class="button-show-more link underlined-link"
                        id="Show-More-{{ forloop.index }}-{{ section.id }}"
                        type="button"
                      >
                        <span class="label-show-more label-text"><span aria-hidden="true">+ </span>show_more </span>
                        <span class="label-show-less label-text hidden"
                          ><span aria-hidden="true">- </span>show_less
                        </span>
                      </button>
                    </show-more-button>
                  {%- endif %}
                </div>
              </details>
            {% when 'price_range' %}
              <details
                id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                class="facets__disclosure-vertical js-filter"
                data-index="{{ forloop.index }}"
                {% if forloop.index == 1 %}
                  open
                {% endif %}
              >
                <summary class="facets__summary caption-large focus-offset">
                  <div>
                    <span>{{ filter.label | escape }}</span>
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </div>
                </summary>
                <div
                  id="Facet-{{ forloop.index }}-{{ section.id }}"
                  class="facets__display-vertical"
                >
                  <div class="facets__header-vertical">
                    {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                    <span class="facets__selected">
                      {{ max_price_amount }}
                    </span>
                    {%- if filter_type != 'vertical' -%}
                      <facet-remove>
                        <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link"> reset </a>
                      </facet-remove>
                    {%- endif -%}
                  </div>
                  <price-range class="facets__price">
                    {% render 'price-facet', filter: filter, id_prefix: 'Filter-', filter_type: 'vertical' %}
                  </price-range>
                </div>
              </details>
          {% endcase %}
        {%- endfor -%}
      </div>
    {% endif %}

    {% if results.current_vendor or results.current_type %}
      <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
    {% endif %}
  </form>
</facet-filters-form> {% endcomment %}
